# üìä Proyecto Guiado - An√°lisis de Ventas de Videojuegos
## Parte 1: Introducci√≥n y Carga de Datos

---

### üéØ Objetivos de este notebook:
1. Entender qu√© es un EDA (Exploratory Data Analysis)
2. Aprender a cargar datos desde archivos CSV
3. Realizar una primera inspecci√≥n de los datos
4. Identificar las caracter√≠sticas del dataset

---

### üìö ¬øQu√© es un EDA?

El **An√°lisis Exploratorio de Datos (EDA)** es el proceso de:
- Examinar los datos antes de construir modelos
- Descubrir patrones, anomal√≠as y relaciones
- Formular hip√≥tesis sobre los datos
- Verificar suposiciones mediante visualizaciones y estad√≠sticas

**¬øPor qu√© es importante?**
- Nos ayuda a entender nuestros datos
- Detecta problemas de calidad (datos faltantes, duplicados, errores)
- Gu√≠a las decisiones sobre limpieza y preparaci√≥n
- Revela insights valiosos para el negocio

---
## 1. Importar las librer√≠as necesarias

Comenzamos importando las librer√≠as que usaremos:
- **pandas**: Para manipulaci√≥n y an√°lisis de datos
- **numpy**: Para operaciones num√©ricas

In [4]:
import pandas as pd
import numpy as np

---
## 2. Cargar el dataset

Vamos a cargar el archivo CSV con datos de ventas de videojuegos.

**Informaci√≥n sobre el dataset:**
- **Fuente**: Kaggle - Video Game Sales Dataset
- **Per√≠odo**: Ventas de videojuegos hasta 2016
- **Contenido**: Ranking, nombre, plataforma, a√±o, g√©nero, publisher y ventas por regi√≥n

In [6]:
# Cargar el dataset desde el archivo CSV
datos = pd.read_csv(r'vgsales.csv')
datos.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

---
## 3. Primera inspecci√≥n: Ver las primeras filas

El m√©todo `.head()` nos muestra las primeras 5 filas por defecto.
Esto nos da una idea r√°pida de c√≥mo se ven nuestros datos.

In [7]:
# Visualizar las primeras 10 filas del dataset
datos.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### üîç ¬øQu√© observamos?

---
## 4. Ver las √∫ltimas filas

El m√©todo `.tail()` nos muestra las √∫ltimas filas.
√ötil para ver juegos con menor ranking.

In [8]:
# Visualizar las √∫ltimas 10 filas del dataset
datos.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

---
## 5. Informaci√≥n general del dataset

El m√©todo `.info()` nos proporciona:
- N√∫mero total de entradas (filas)
- Tipos de datos de cada columna
- Cantidad de valores no nulos
- Uso de memoria

In [9]:
# Informaci√≥n general del dataset
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

---
## 6. Dimensiones del dataset

Vamos a obtener informaci√≥n sobre el tama√±o de nuestro dataset.

In [10]:
# Obtener dimensiones
datos.shape

(16598, 11)

---
## 8. Tipos de datos

Vamos a examinar los tipos de datos de cada columna de forma detallada.

In [11]:
# Mostrar tipos de datos
datos.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

---
## 9. Vista aleatoria de los datos

El m√©todo `.sample()` nos permite ver filas aleatorias.
Esto es √∫til para obtener una muestra representativa.

In [15]:
# Mostrar 11 filas aleatorias
datos.sample(10, random_state=42)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
8928,8930,F1 2012,PC,2012.0,Racing,Codemasters,0.01,0.11,0.00,0.03,0.15
4789,4791,"Transformers: The Game (XBox 360, PS2, PS3, Wi...",PS3,2007.0,Action,Activision,0.32,0.04,0.01,0.04,0.40
15492,15495,Commandos 3: Destination Berlin,PC,2003.0,Strategy,Eidos Interactive,0.00,0.02,0.00,0.00,0.02
14767,14770,The Sims 2: Bon Voyage,PC,2007.0,Simulation,Electronic Arts,0.01,0.01,0.00,0.00,0.03
5211,5213,Guitar Hero: Smash Hits,PS3,2009.0,Misc,Activision,0.20,0.11,0.00,0.05,0.36
720,722,Sonic Advance,GBA,2001.0,Platform,Sega,1.19,0.71,0.22,0.13,2.24
4918,4920,Red Faction: Armageddon,X360,2011.0,Shooter,THQ,0.18,0.17,0.01,0.04,0.39
3107,3109,Real Heroes: Firefighter,Wii,2009.0,Action,Rondomedia,0.56,0.04,0.00,0.05,0.65
7416,7418,WinBack: Covert Operations,N64,1999.0,Shooter,Virgin Interactive,0.17,0.04,0.00,0.00,0.21
4447,4449,Gundam SEED: Federation vs. Z.A.F.T.,PS2,2005.0,Shooter,Namco Bandai Games,0.00,0.00,0.44,0.00,0.44

---
## 10. Nombres de las columnas

Verificar los nombres exactos de las columnas es importante para evitar errores.

In [13]:
# Listar todas las columnas
datos.columns

# Tambi√©n podemos verlas como lista
datos.columns.tolist()

['Rank',
 'Name',
 'Platform',
 'Year',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales']